nav {
  display: flex;
  gap: 30px;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background: linear-gradient(#3a5874, #399ac7);
}
a {
  text-decoration: none;
  color: #e6e2e2;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding: 5px;
  border: 2px solid transparent;
  border-radius: 10px;
  transition: 0.3s;
}
a:hover {
  transform: scale(1.2);
  color: #25314c;
  background-color: rgb(125, 170, 202);
  border-color: #485983;
}
h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 30px;
  border: 2px solid transparent;
  border-radius: 100px;
  background-color: rgb(37, 65, 79);
  padding: 10px;
  color: #80aac2;
}