body {
  margin: 0;
  background-color: #262020;
  color: rgb(241, 57, 57);
  font-size: 20px;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif, sans-serif;
}
nav {
  display: flex;
  gap: 30px;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background: linear-gradient(#3b0000, #290101);
}
a {
  text-decoration: none;
  color: #a19797;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding: 5px;
  border: 2px solid transparent;
  border-radius: 10px;
  transition: 0.3s;
}
a:hover {
  transform: scale(1.2);
  color: #b40808;
  background-color: rgb(23, 23, 23);
  border-color: #c85454;
}
h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 30px;
  border: 2px solid rgb(59, 4, 4);
  border-radius: 100px;
  background-color: rgb(27, 11, 11);
  padding: 10px;
  color: #b82121;
}
